---
import Layout from '../../layouts/Layout.astro'
---

<Layout
	title='Fotos de bodas'
	description='Las mejores fotos de bodas'
>
	<main class='grid h-screen w-screen place-content-center'>
		<section
			class='mx-auto grid w-full max-w-screen-xl auto-rows-[35rems] grid-cols-10 gap-4 border border-white p-20'
		>
		</section>
	</main>
</Layout>
