{
	"arrowParens": "avoid",
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true,
	"semi": false,
	"singleAttributePerLine": true,
	"jsxSingleQuote": true,
	"tabWidth": 2,
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"]
}
