---
import Layout from '@/layouts/Layout.astro'
---

<Layout
	title='Bodas - Verduchollie'
	description='Bodas increibles'
>
	<div class='relative h-screen w-full'>
		<div class='absolute left-6 top-6'>
			<a
				href='/'
				class='text-2xl font-bold text-rose-100 md:text-3xl'
				>logo</a
			>
		</div>
		<section
			class='flex h-full flex-col items-center justify-center bg-zinc-600'
		>
		</section>
	</div>
</Layout>
