---
import Hero from '@/components/Hero.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout
	title='Verduchollie - Fotografía y Video'
	description='Me gustan los video y las fotos :)'
>
	<main>
		<Hero />
	</main>
</Layout>
