---
import Navigation from '@/components/Navigation.astro'
import HeroBackground from '@/components/HeroBackground.astro'
import HeroTitle from '@/components/HeroTitle.astro'
---

<div class='relative h-screen w-full overflow-hidden'>
	<HeroBackground />
	<div
		class='absolute inset-0 -top-24 z-10 ml-8 flex flex-col items-start justify-center text-left'
	>
		<HeroTitle />
		<section class='lg:max-w-8xl mt-28 w-full max-w-3xl md:max-w-[1750px]'>
			<Navigation />
		</section>
	</div>
</div>
