---
import fotoPortada from '../../public/portada-md.jpeg'
import { Image, Picture } from 'astro:assets'
import Navigation from '@/components/Navigation.astro'
---

<div class='relative h-screen w-full overflow-hidden'>
	<picture class='absolute inset-0 -z-10 h-full w-full'>
		<source
			media='(max-width: 425px)'
			srcset='/portada-movil.jpeg'
			type='image/jpeg'
		/>
		<source
			media='(max-width: 768px)'
			srcset='/portada-md.jpeg'
			type='image/jpeg'
		/>
		<source
			media='(min-width: 769px)'
			srcset='/portada-lg.jpeg'
			type='image/jpeg'
		/>
		<img
			src='/portada-lg.jpeg'
			alt='Portada Verduchollie'
			class='h-full w-full object-cover'
		/>
	</picture>
	<div
		class='absolute inset-0 flex flex-col items-center justify-center text-center'
	>
		<h1
			class='select-none font-agrandir text-[3rem] font-[400] uppercase tracking-widest text-zinc-100 md:text-[5rem] lg:text-[5rem]'
		>
			Verduchollie
		</h1>
		<section class='mt-28'>
			<Navigation />
		</section>
	</div>
</div>
