---
import fotoPortada from '../../public/portada-md.jpeg'
import { Image, Picture } from 'astro:assets'
import Navigation from '@/components/Navigation.astro'
---

<div class='relative h-screen w-full overflow-hidden'>
	<picture class='absolute inset-0 -z-10 h-full w-full'>
		<source
			media='(max-width: 425px)'
			srcset='/portada-movil.jpeg'
			type='image/jpeg'
		/>
		<source
			media='(max-width: 768px)'
			srcset='/portada-md.jpeg'
			type='image/jpeg'
		/>
		<source
			media='(min-width: 769px)'
			srcset='/portada-lg.jpeg'
			type='image/jpeg'
		/>
		<img
			src='/portada-lg.jpeg'
			alt='Portada Verduchollie'
			class='h-full w-full object-cover'
		/>
	</picture>
	<div
		class='absolute inset-0 -top-24 z-10 flex flex-col items-center justify-center text-center'
	>
		<h1
			class='select-none text-[2.5em] font-[700] uppercase tracking-[0.2em] text-amber-400 md:text-[4em] lg:text-[5rem]'
		>
			Verduchollie
		</h1>
		<section class='mt-28 w-full max-w-3xl md:max-w-4xl lg:max-w-7xl'>
			<Navigation />
		</section>
	</div>
</div>
