---
const navItems = [
	{
		title: 'Videoclips',
		label: 'videoclips',
		url: '/videoclips'
	},
	{
		title: 'Sesiones',
		label: 'sesiones',
		url: '/sesiones'
	},
	{
		title: 'Bodas',
		label: 'bodas',
		url: '/bodas'
	},
	{
		title: 'Shorts',
		label: 'shorts',
		url: '/shorts'
	},
	{
		title: 'Contacto',
		label: 'contacto',
		url: 'mailto:ver@gmail.es'
	}
]
---

<nav
	class='flex flex-col items-center justify-center gap-y-8 md:ml-8 md:items-start'
>
	{
		navItems.map(link => (
			<a
				href={link.url}
				class='rounded-md px-3 py-1.5 text-right text-2xl font-normal tracking-tighter text-amber-100/70 transition-all hover:scale-110 hover:bg-white/20 hover:text-amber-100 focus:bg-white/20 focus:text-amber-100'
			>
				{link.title}
			</a>
		))
	}
</nav>
