---
const navItems = [
	{
		title: 'Videoclips',
		label: 'videoclips',
		url: '/videoclips'
	},
	{
		title: 'Sesiones',
		label: 'sesiones',
		url: '/sesiones'
	},
	{
		title: 'Bodas',
		label: 'bodas',
		url: '/bodas'
	},
	{
		title: 'Shorts',
		label: 'shorts',
		url: '/shorts'
	},
	{
		title: 'Contacto',
		label: 'contacto',
		url: 'mailto:ver@gmail.es'
	}
]
---

<nav class='flex flex-col items-start justify-center gap-y-8'>
	{
		navItems.map(link => (
			<a
				href={link.url}
				class='rounded-md px-3 py-1.5 text-right text-2xl font-semibold uppercase tracking-tighter text-amber-100/50 transition-all hover:scale-105 hover:text-amber-100 focus:text-amber-100 md:text-3xl lg:text-4xl'
			>
				{link.title}
			</a>
		))
	}
</nav>
