---
interface Props {
	img: string
	title: string
	link: string
	className: string
}

const { img, className, title, link } = Astro.props
---

<section
	id='fotos'
	class=`${className} relative group h-full w-full`
>
	<div
		class='h-full bg-cover bg-center bg-no-repeat filter transition-all duration-300 group-hover:blur-[2px]'
		style=`background-image: url('../../public/${img}.webp')`
	>
	</div>
	<div class='absolute inset-0 flex h-full w-full items-center justify-center'>
		<a
			class='rounded p-2 text-[3rem] font-bold tracking-wider text-amber-100 bg-blend-darken shadow-lg transition-transform hover:scale-110 md:text-[4rem]'
			href=`/bodas/${link}`
			>{title}</a
		>
	</div>
</section>
